* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-shadow-white {
    color: var(--co-white);
    text-shadow: 0 0 20px var(--co-white-2);
}

:root {
    --co-blue-dark:#020d16;
    --co-white :white;
    --co-white-2:rgba(255, 255, 255, 0.616);
    --co-white-dark-1: rgba(255, 255, 255, 0.196);
    --co-gray:#8a8a8a;
    --co-red-1:#FF1E1E;
    --co-black-1:rgba(0, 0, 0, 0.89);
    --size-15-px:15px;
    --size-20-px:20px;
}
body {
    background-color: var(--co-blue-dark);
}
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main label input {
padding: .5rem 1rem;
border-radius: var(--size-20-px);
color: var(--co-blue-dark);
width: 300px;
}
input[type="checkbox"] {
 width: 30px;
}
#co-message {
    text-align: center;
}
main section:first-of-type {
    border: 1px solid var(--co-white-2);
    border-radius: var(--size-15-px);
    box-shadow: 0 10px 10px -5px var(--co-white-dark-1);
    padding: 1rem;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 60vh;
    max-height: 60vh;
}
#btn-saved-info-user {
    cursor: pointer;
    background-color: var(--co-blue-dark);
    padding: 1rem 2rem;
    border: 1px solid var(--co-white-2);
    border-radius: var(--size-15-px);
}
#btn-saved-info-user:hover {
    background-color: var(--co-white-2);
    color: var(--co-blue-dark);
    transition: .5s ease-in-out ;
    transform: scale(1.05);    
}
#showSms {
    color: var(--co-white);
    display: none;
    background-color: var(--co-blue-dark);
    border: 1px solid var(--co-white-2);
    font-weight: 900;
    border-radius: var(--size-15-px);
    padding: 1rem;
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    z-index: 999;
}
.div-btns {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.div-btns button:nth-child(2) {
    background-color: var(--co-blue-dark);
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: var(--co-white-dark-1);
    border-radius: var(--size-15-px);
    color: var(--co-blue-dark);
    font-weight: 500;
}
.div-btns button:nth-child(2):hover {
    transition: .4s ease-in-out ;
    background-color: var(--co-blue-dark);
    color: var(--co-white);
    text-shadow: 0 0 20px var(--co-white-2);
}

.cont-contacts-user {
    color: var(--co-white);
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--co-black-1);
    display: none;
}
.cont-contacts-user section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: .5rem;
    width: 55vw;
    height: 100vh;
    background-color: var(--co-blue-dark);
    position: relative;
}
.cont-contacts-table {
    width: 95%;
    border: 1px solid white;
    height: 90%;
    overflow-y: auto;

}
table {
    width: 100%;
}
table th {
background-color: var(--co-white-dark-1);
padding: .2rem;
}
table th:last-child{
    background-color: var(--co-blue-dark);
}
table td {
    padding: .2rem 0;
    font-size: .9rem;
    text-align: center;
}
.border-td {
    border: 1.5px solid var(--co-gray);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}
tbody td button {
    border-radius: 5px;
    cursor: pointer;
}
tbody td button:first-child {
    background-color: var(--co);
}
#inputSearhUser {
    width: 300px;
    padding: .5rem 1rem;
    text-align: center;
    border-radius: var(--size-20-px);
}
#btnClose {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    border-radius: 4px;
    padding: .5rem;
    background-color: var(--co-red-1);
    color: var(--co-white);
}
#btnClose:hover {
    filter: brightness(75%);
}
#amount-users {
    text-align: center;
}
.flip-in-ver-right {
	-webkit-animation: flip-in-ver-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  .slide-in-fwd-left {
    -webkit-animation: slide-in-fwd-left 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-left 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-left {
    0% {
        -webkit-transform: translateZ(-1400px) translateX(-1000px);
        transform: translateZ(-1400px) translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-left {
    0% {
        -webkit-transform: translateZ(-1400px) translateX(-1000px);
        transform: translateZ(-1400px) translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}

  @media screen and (max-width: 768px) {
    #co-message {
        font-size: 1.5rem;
    }
    main section:first-of-type{
        min-width: 90vw;
    }
    .div-btns {
        width: 90%;
    }
    .cont-contacts-user section {
        width: 100%;
    }
    #inputSearhUser {
        width: 275px;
        font-size: .8rem;
    }
    #btnClose {
        right: .5rem;
    }
}